<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "home_fitness.jpg" %>);">
  <div class="banner-content">
    <h1>Coachy</h1>
    <p>Book a personal trainer at an affordable price</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="Date">
      <input type="text" class="form-control input-lg" placeholder="Time">
      <input type="text" class="form-control input-lg" placeholder="Location">
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form>

    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "yoga.jpg" %>);">
            <div class="card-description">
              <h2>YOGA</h2>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "cardio.jpg" %>);">
            <div class="card-description">
              <h2>CARDIO</h2>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "pilates.jpg" %>);">
            <div class="card-description">
              <h2>PILATES</h2>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "weight.jpg" %>);">
            <div class="card-description">
              <h2>WEIGHT LIFTING</h2>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "boxing.jpg" %>);">
            <div class="card-description">
              <h2>BOXING</h2>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "tennis.jpg" %>);">
            <div class="card-description">
              <h2>TENNIS</h2>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
