<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">


      <%= simple_form_for(@lesson) do |f| %>
      <%= f.error_notification %>

      <%= f.input :category, collection: Lesson::CATEGORIES %>

      <%= f.input :price %>

      <%= f.input :start_date_time, label: 'Date & Time', as: :datetime %>

      <%= f.input :duration, label:'Duration (min)', as: :integer %>

       <%= f.input :description, label:'Description', as: :string %>

       <%= f.input :neighborhood, collection: Lesson::NEIGHBORHOOD %>

      <%= f.button :submit %>
      <br>
      <br>

      <button><%= link_to 'Back', root_path %></button>

      <% end %>

    </div>
  </div>
</div>
