
<div class="container full-screen">
  <div class="row">
    <div class="coach-cards-container">

    <% @lessons.each do |lesson| %>

      <div class="coach-card">
        <div class="coach-card-image" style="background-image: url('<%= lesson.user.facebook_picture_url %>');">
        </div>
        <div class="coach-card-info">
          <p><strong><%= lesson.category %></strong></p>
          <p><strong>£ <%= lesson.price %></strong></p>
          <p><strong><%= lesson.category %></strong></p>
        </div>
          <div class="coach-card-title">

            <h4><%= lesson.user.first_name%> </h4>

          </div>
            <div class="coach-card-date">
              <p><%= lesson.neighborhood %></p>
            </div>
            <%= link_to "this", lesson_path(lesson), class: "coach-card-link" %>
      </div>
      <% end %>


    </div>
  </div>
</div>










