<div class="banner-lessons" style = "background-image: url(<%= path_to_image ("/yoga-banner.jpg")%>";>

  <div class="banner-lessons-content">
    <h1><%= @lesson.category %></h1>
  </div>
</div>

<div class="container text-center" style="padding: 100px 0;">
  <div class="about-trainer">

    <div class="trainer-info col-xs-4 text-center">
      <%  if @lesson.user.facebook_picture_url? %>
      <%= image_tag @lesson.user.facebook_picture_url %>
      <% else %>
      <%= image_tag "nopic.png", class: "trainer-img"%>
      <% end %>
     <h4><%= @lesson.user.first_name %></h4>
    </div>

    <div class="about col-xs-6">
     <h3>Description:<%= @lesson.description %></h3>
      <h4>About Trainer</h4>
      <p><%= @lesson.user.bio %></p>
    </div>

  </div>

  <div class="book col-xs-2">
    <h3>£<%= @lesson.price %>/<%= @lesson.duration %>mins</h3>
    <%= simple_form_for [@lesson, @booking] do |f| %>
      <%= f.submit "BOOK", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

</div>
