<div class="coach-card">
  <div class="coach-card-image" style="background-image: url(<%= image_path(lesson.category + '.jpg') %>);">
    <%= image_tag lesson.user.facebook_picture_url, :class => "avatar_card"%>
    <div class="coach-card-status <%= lesson.booking.status %>">
      <p><%= lesson.booking.status.capitalize %></p>
    </div>
  </div>
  <div class="coach-card-info">
    <p class="color-incard"><strong><%= lesson.category %></strong></p>
    <p class="color-incard"><strong>£<%= lesson.price %></strong></p>
    <p><strong><%= lesson.duration %> min</strong></p>
    <p><strong><%= lesson.neighborhood %></strong></p>
    <p><strong><%= lesson.start_date_time.strftime("%b %e, %l:%M %p") %></strong></p>
    <br>
    <p><strong><span class="desc_under">Description:</span></strong> <%= truncate(lesson.description, length: 60) %></p>
  </div>
  <div class="coach-card-title">
    <h4><%= lesson.booking.user.first_name%> <%= lesson.booking.user.last_name.first%></h4>
  </div>
  <div class="coach-card-date">
    <p><%= lesson.start_date_time.strftime("%b %e, %l:%M %p")  %></p>
  </div>
  <div class="coach-card-neigh">
    <p><%= lesson.neighborhood %></p>
  </div>
  <div class="coach-card-price">
    <p>- £ <%= lesson.price %></p>
  </div>
  <div class="coach-card-cat">
    <p><%= lesson.category.upcase %></p>
  </div>
  <%= link_to "", lesson_path(lesson), class: "card-link" %>

</div>


