<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <h2>My Dashboard</h2>
      <%  if current_user.facebook_picture_url? %>
        <%= image_tag current_user.facebook_picture_url, style: 'width: 200px; margin-top: 20px;'%>
      <% else %>
        <%= image_tag "avatar.png", class: "coach-img"%>
      <% end %>
      <div class="bt-back-home" style="margin: 30px 0; padding: 14px 40px 12px;;"><%= link_to 'Edit profile', edit_user_registration_path %></div>
      <div class="bt-back-home"><%= link_to 'Create lesson', new_lesson_path%></div>
    </div>
    <div class="col-md-9">
      <div class="">
      <!-- all bookibgs -->
        <div class="dashboard">
          <!-- My bookibg section -->
          <h2>My bookings</h2>
          <div class="row">
            <!-- Loop on booking -->
            <% current_user.bookings.each do |booking|%>
              <div class="col-md-4">
                <%= render "dashboard-card-user", booking: booking %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="dashboard">
          <!-- My request section -->
          <h2>My Request</h2>
          <div class="row">
            <!-- Loop on Request -->
            <% current_user.lessons.each do |lesson| %>
              <div class="col-md-4">
                <% if !lesson.booking.nil? %>
                  <% if lesson.booking.status == 'pending' %>
                    <%= render "dashboard-card-coach-pending", lesson: lesson %>
                  <% else %>
                    <%= render "dashboard-card-coach", lesson: lesson %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
